@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .huy {
        position: absolute;
        bottom: 0.4px;
        color: white;
    }
}

body {
    background-color: #222;
    color: gray;
    font-size: 30px;
}
button,
input {
    background-color: transparent;
    color: white;
    font-size: 36px;
    border: none;
}
a {
    color: lightgray;
    &:hover {
        text-decoration: underline;
        color: white;
    }
}
